/* Produke-Details (Page 2) */
h2 {
  text-align: center;
}

#ProduktDetailsItem {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.ProductDetailsInfoContainer {
  margin-left: 2%;
}
.ProductImageContainer {
  margin-bottom: 1%;
}

.ProduktDetailsText {
  margin: 0 30% 0 0;
}

.ProductDetailsDetailTypeAndPrice {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0% 0 0% 0px;
}

.ProductDetailsTypeAndPrice > span {
  font-weight: bolder;
}

.ProductDetailsBrand {
  padding: 0;
  font-weight: lighter;
  font-size: 10px;
  text-decoration: none;
}

/* Produkt Section */

.Product {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.ProductItemsContainer {
  display: flex;
  gap: 2%;
}
#AddProductButton {
  width: 200px;
  height: 50px;
}
@media (min-width: 640px) and (max-width: 1024px) {
  .ProductItem {
    flex: 1 1 45%;
  }
}

@media (max-width: 639px) {
  /* Produke-Details Page 2 */

  #ProduktDetailsItem {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .ProductDetailsImageContainer {
    margin-bottom: 1%;
    width: 100%;
  }

  .ProductDetailsDetailTypeAndPrice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0% 0 0% 0px;
  }

  .ProductDetailsTypeAndPrice > span {
    font-weight: bolder;
  }

  .ProductDetailsBrand {
    padding: 0;
    font-weight: lighter;
    font-size: 10px;
    text-decoration: none;
  }

  .ProductItem {
    display: none;
  }
}
