label {
  margin-top: 5px;
}

.NewProductItem {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

#productName {
  margin-right: 90%;
}

#description {
  margin-right: 80%;
  margin-bottom: 5px;
}

#productPrice {
  margin-right: 95%;
  margin-bottom: 5px;
}

#productSKU {
  margin-right: 95%;
  margin-bottom: 5px;
}

#productImage {
  margin-right: 70%;
  margin-bottom: 5px;
}

#CategoriesContainer {
  margin-bottom: 5px;
}
